
body {
  background: linear-gradient(60deg, rgba(193,24,91,0.6) 20%, rgba(90, 141, 200, 0.6) 80%);
  background: -prefix-linear-gradient(60deg, rgba(193,24,91,0.6) 20%, rgba(90, 141, 200, 0.6) 80%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Rancho;
}

nav a.active{
  border-bottom: 0.3vmax solid rgb(112, 110, 110);
  transition: all ease 0.5s;
}

nav ul a{
  color: black;
  font-size: 3vmax;
  padding-top: 3vh;
}

nav {
  background: transparent;
  padding-top: 3vh;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 9vmax;
}

nav .brand-logo img {
  height: 6vmax;
  vertical-align: middle;
  border-radius: 25%;
}

nav .brand-logo {
  width:55%;
}

.css-text-901oao {
  font-size: 5vmax;
  font-family: Rancho;
  vertical-align: middle;
}

.materialboxed {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1%;
}

.carousel .carousel-item {
  height: 100%;
  width: 250px;
}

.carousel .carousel-item img{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.carousel {
  height: 50vh;
  width: 50vw;
}

.tabs {
  background-color:  transparent;
  z-index: 0;
}

.tabs .tab a {
  color: white;
  font-size: large;
  text-transform: none;
  font-size: 1.5vmax;
}

.tabs .tab a {
  color: white;
  font-size: large;
  text-transform: none;
  font-size: 1.5vmax;
}

.tabs .tab a:hover {
  color: white;
  font-size: large;
  text-transform: none;
  font-size: 1.5vmax;
}

.tabs .tab a.active {
  color: white;
  font-size: large;
  text-transform: none;
  font-size: 1.5vmax;
}

.tabs .indicator {
  background-color:rgb(112, 110, 110);;
}

.descriptionText h1 {
  font-size: 5vmax;
  color: white;
}

.descriptionText p {
  font-size: 2vmax;
  color: white;
}

.promotionTable p {
  font-size: 1.5vmax;
  font-weight: bold;
}